<div class="col-md-4" *ngFor="let Library of librarys">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{librarys.title}}            
            <button class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]= "librarys.image" class="card-img-top">
        <div class= "card-body">
            <p>{{librarys.descroption}}</p>
            <a href="" class="btn btn-info btn-block">EDIT GAME</a>
        </div>
    </div>
</div>

