<div class="container">
    <!-- Formulario de Inicio de Sesión -->
    <div class="container-form">
        <form class="sign-in" (ngSubmit)="onSubmit()">
            <h2>Iniciar Sesión</h2>
            <div class="social-networks">
                <ion-icon name="logo-twitch"></ion-icon>
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-tiktok"></ion-icon>
            </div>
            <span>Use su correo y contraseña</span>
            <div class="container-input">
                <ion-icon name="mail-outline"></ion-icon>
                <input 
                    type="email" 
                    placeholder="Email" 
                    [(ngModel)]="credentials.correo" 
                    name="correo" 
                    required>
            </div>
            <div class="container-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input 
                    type="password" 
                    placeholder="Password" 
                    [(ngModel)]="credentials.contrasena" 
                    name="contrasena" 
                    required>
            </div>
            <a routerLink="/recuperar-contrasena">¿Olvidaste tu contraseña?</a>
            <button class="button" type="submit">INICIAR SESIÓN</button>
            <p *ngIf="error" class="error-message">{{ error }}</p>
        </form>
    </div>

    

    <!-- Mensajes de Bienvenida -->
    <div class="container-welcome">
        <div class="welcome-sign-up welcome">
            <h3>¡Bienvenido!</h3>
            <p>Ingrese sus datos personales para usar todas las funciones del sitio</p>
            <a routerLink="/registro">
                <button class="button" id="btn-sign-up">Registrarse</button>
            </a>
        </div>
        <div class="welcome-sign-in welcome">
            <h3>¡Hola!</h3>
            <p>¿Ya tienes una cuenta? Inicia sesión para acceder a todas las funciones.</p>
            <a routerLink="/inicioSesion">
                <button class="button" id="btn-sign-in">Iniciar Sesión</button>
            </a>
        </div>
    </div>
</div>

<!-- Scripts de Ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
