.navbar {
  background-color: #6B8A7A; /* Color de fondo de la barra de navegación */
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand img,
.navbar img {
  max-height: 65px;
}

.navbar .form-control {
  width: 290px; /* Ajusta el ancho del campo de búsqueda */
}

.me-2 {
  margin-right: 0.5rem;
}

  /* Barra de las opciones*/
  .navbar {
    background-color: #6B8A7A; /* Color oscuro de la barra */
  }
  
  .nav-link {
    color: #ffffff; /* Color de los enlaces */
  }
  
  .nav-link:hover {
    color: #ffcc00; /* Color de los enlaces al pasar el ratón por encima */
  }
  
  .nav-link.active {
    color: #ff5733; /* Color del enlace activo */
  }
  
  .nav-item {
    margin: 0 10px; /* Espaciado entre los elementos de la navegación */
  }

  .social-networks{
    display: flex;
    gap: 12px;
  }

  .social-networks ion-icon {
    color: black; /* esto al color que desees */
    width: 60px; /* Establece el ancho del icono */
    height: 60px; /* Establece la altura del icono */
    font-size: 24px; /* Mantén el font-size consistente con el tamaño del icono */
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
  }

  .social-networks ion-icon:hover {
    color: #ffcc00; /* Color al pasar el cursor */
  }
