<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-between align-items-center">
    <a class="navbar-brand" href="#">
      <img src="/assets/erdl.jpeg" alt="Logo" width="160" height="100" class="d-inline-block align-text-top">
    </a>
    <div class="d-flex align-items-center">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success me-2" type="submit">Search</button>
      <form class="d-flex" role="search">

      <div class="social-networks">
        <a href="inicioSesion"> <!-- Este link solo es para probar que si sirva, no es el que se va a usar-->
          <ion-icon name="person-circle-outline"></ion-icon>
        </a>
      </div>

      <div class="social-networks">
        <a href="registro">
          <ion-icon name="cart-outline"></ion-icon>
        </a>
      </div>
      
      </form>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"  routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="juvenil" routerLinkActive="active">Literatura Juvenil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLink="junior" routerLinkActive="active">Niños</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="ciencia" routerLinkActive="active">Ciencia Ficcion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="spotify" routerLinkActive="active" >Audiolibros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fantasia" routerLinkActive="acitve">Fantasia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="romance" routerLinkActive="active">Romance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="juegos" routerLinkActive="active">Juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pack" routerLinkActive="active" >Paquetes</a>
      </li>
    </ul>
  </div>
</nav>