<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="junior.component.css">
    <title>Catálogo de Libros de Juegos</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Primer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/41ZHzrJEOOS._SY445_SX342_.jpg" class="card-img-top img-fluid" alt="El Principito">
                    <div class="card-body">
                        <h5 class="card-title text-center">El Principito</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Antoine de Saint-Exupéry</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0156012195</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Español</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 250.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Segundo libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/51DP6cty6ML._SY445_SX342_.jpg" class="card-img-top img-fluid" alt="Harry Potter y la piedra filosofal">
                    <div class="card-body">
                        <h5 class="card-title text-center">Harry Potter y la piedra filosofal</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> J.K. Rowling</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-1408855898</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Español</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 300.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Tercer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/510Sp+uFjuL._SX342_SY445_.jpg" class="card-img-top img-fluid" alt="Donde viven los monstruos">
                    <div class="card-body">
                        <h5 class="card-title text-center">Donde viven los monstruos</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Maurice Sendak</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0064431781</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Español</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 200.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
