<!-- Bootstrap CSS 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="">
   Optional JavaScript 
       jQuery first, then Popper.js, then Bootstrap JS 
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/1_libreria.jpg" class="d-block w-45" height="400px" width="550px">
    </div>
    <div class="carousel-item">
     <img src="assets/nos.jpg" class="d-block w-45" height="400px" width="550px">
    </div>
    <div class="carousel-item">
      <img src="assets/1_libreria.jpg" class="d-block w-45" height="400px" width="350px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
-->

<!--<div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="/assets/calleypoche.jpg" class="card-img-top" alt="1 libro" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">Si si es contigo</h5>
        --<p class="card-text">Sí, si es contigo es una historia de amor (im)posible.
          Sí, si es contigo es una novela de amor escrita por dos de las Youtubers más famosas, 
          con más de seis millones de seguidores en su canal de YouTube.
          Una novela sobre el primer amor, y todo lo doloroso y maravilloso que este implica</p>
          <p>Proximamente</p>
        <a href="#" class="btn btn-primary" (click)="redirectToJson()" >Ver más</a>
        
  
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="/assets/lovecraft.jpg" class="card-img-top" alt="1 libro" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">La llamada de Cthulhu y otros relatos</h5>
        <p class="card-text">El narrador, heredero de su legado, se vuelca en la interpretación arqueológica de un 
          bajorrelieve que va acompañado de un texto en una lengua desconocida que hace referencia a un culto 
          secreto del que parece ser un dios olvidado y extraterrestre con el nombre de «Cthulhu»</p>-
          <p>Disponible</p>
        <a href="#" class="btn btn-primary" routerbtn="library-details">Ver más</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="/assets/walter.jpg" class="card-img-top" alt="1 libro" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">Ya te dije adios, ahora como te olvido</h5>
        <p class="card-text">En ella reúne una serie de estrategias muy eficientes para hacer la separación 
          más llevadera, ayudándonos a superar el dolor en cada una de las etapas de lo que Riso define como 
          el «duelo afectivo»: la negación, la ira, la depresión, la negociación y la aceptación.</p>--
          <p>Disponible</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  
  
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/81ZPr8asmsL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="1 libro" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">Boulevard</h5>
       <!- <p class="card-text">El conde de Montecristo (1844) es, en principio, la historia de una venganza.
           Edmond Dantès es un joven marino que, en el día de su compromiso con la bella Mercedes, es 
           víctima de un complot y encarcelado en el castillo de If, de donde no deberá salir jamás. 
           Gracias al abate Faria, a quien conoce en la prisión, adquiere una educación.</p> --
           <p>Proximamente</p>
        <a href="detalle" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="/assets/heart.jfif" class="card-img-top" alt="1 libro" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">Heartstopper</h5>
       <!-<p class="card-text">Dos chicos se conocen. Se hacen amigos. Se enamoran.
           ¿Por qué nos empeñamos en hacer complicadas las emociones más sencillas?
          Esta historia de amor entre dos chicos, uno de ellos declaradamente homosexual y 
          el otro en vías de autodescubrimiento, nos recordaráque hay primeros amores frágiles
           como el cristal y memorables como el diamante.</p> --
           <p>Disponible</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="/assets/aquiles.jpg" class="card-img-top" alt="1 libro" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">La canción de Aquiles</h5>
       <!- <p class="card-text">De la autora de 'Circe', una epopeya inolvidable. Todo lo que 
          nunca te contaron sobre el mito de Aquiles y la Guerra de Troya.
          Grecia en la era de los héroes. Patroclo, un príncipe joven y torpe,
           ha sido exiliado al reino de Ftía, donde vive a la sombra del rey Peleo y su hijo divino, 
           Aquiles. Aquiles, el mejor de los griegos, es todo lo que no es Patroclo: fuerte, apuesto, 
           hijo de una diosa.</p> 
           <p>Disponible</p>
        <a  class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>-->

  <div class="card-container">
    <div class="card" *ngFor="let book of books" style="width: 18rem;">
      <img [src]="book.image" class="card-img-top" [alt]="book.title" width="40" height="250">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p>{{ book.availability }}</p>
        <a [routerLink]="['/library-detail', book.id]" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  
  
  

  
