<head>
    <meta> charset = "UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="package.component.css">
  </head>
  
  
  <h1>
    <div class="container">
      <span style="--l: 'block';"> ¡ Tenemos </span>
      <span style="--l: 'block';"> un </span>
      <span style="--l: 'block';"> espacio </span>
      <span style="--l: 'block';"> para </span>
      <span style="--l: 'block';"> ti !</span>
    </div>
  </h1>
  
  
  
  <div class="container">
    <div class="left-section">
      <div class="level-wrapper">
        <h2 class="paquete">
              <p class="level-number">Paquete Básico</p>
              <ul class="level-list">
              </ul>
            </h2>
      <!-- <input type="text" placeholder="El paquete incluye" class="level-input">-->
      <p class = "contiene">El paquete incluye</p>
        <p>-Subida de hasta 200 libros</p>
        <p>-Soporte de metadatos básicos</p>
        <p>-Asistencia técnica vía correo electrónico</p>
        <p>-Opción de actualización a paquetes superiores</p>
        <p class="costo">Costo: $200</p>
        <button type="button" class="btn-pago" routerLink="/libraries">Realizar Pago</button>
      </div>
  
      <div class="level-wrapper">
        <h2 class="paquete">
              <p class="level-number">Paquete Medio</p>
              <ul class="level-list">
              </ul>
            </h2>
        <!--<input type="text" placeholder="El paquete incluye" class="level-input">-->
        <p class = "contiene">El paquete incluye</p>
        <p>-Subida de hasta 300 libros de literatura</p>
        <p>Soporte completo de metadatos</p>
        <p>Asistencia técnica vía correo electrónico</p>
        <p>Integración básica con sistema de gestión de la biblioteca</p>
        <p class="costo">Costo: $200</p>
        <button type="button" class="btn-pago" routerLink="/libraries">Realizar Pago</button>
      </div>
  
      <div class="paquete-wrapper">
        <h2 class="paquete">
              <p class="level-number">Paquete Premium</p>
              <ul class="level-list">
              </ul>
            </h2>
        <!--<input type="text" placeholder="El paquete incluye" class="level-input">-->
        <p class = "contiene">El paquete incluye</p>
        <p>-Subida de libros ilimitada</p>
        <p>-Soporte completo de metadatos y opciones de personalización avanzadas</p>
        <p>-Asistencia técnica 24/7 vía correo electrónico, chat en vivo y teléfono</p>
        <p>-Integración avanzada y personalizada con sistema de gestión de la biblioteca</p>
        <p>-Análisis y reportes mensuales de uso detallado</p>
        <p class="costo">Costo: $200</p>
        <button type="button" class="btn-pago" routerLink="/libraries">Realizar Pago</button>
      </div>
    </div>
  </div>

  <app-mercadolibre></app-mercadolibre>