<div class="container">
    <aside class="sidebar">
        <h2>Panel de Control</h2>
        <ul>
            <li><a routerLink="administrador">
                <span class="icono"><ion-icon name="home-outline"></ion-icon></span>&nbsp;
                <span class="titulo">Inicio</span>
                </a>
            </li>
            <li><a routerLink="/listarUsuarios">
                <span class="icono"><ion-icon name="person-outline"></ion-icon></span>&nbsp;
                <span class="titulo">Usuarios</span>
               </a>
            </li>
            <li><a routerLink="/listarBibliotecas">
                <span class="icono"><ion-icon name="library-outline"></ion-icon></span>&nbsp;
                <span class="titulo">Bibliotecas</span>
                </a>
            </li>
            <li><a routerLink="/listarLibros">
                <span class="icono"><ion-icon name="book-outline"></ion-icon></span>&nbsp;
                <span class="titulo">Libros</span>
                </a>
            </li>
            <li><a href="#">
                <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>&nbsp;
                <span class="titulo">Salir</span>
                </a>
            </li>
        </ul>
    </aside>
  
    <main>
      <h1>Listado de Usuarios</h1>
      <table class="library-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.idUser }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.rol }}</td>
            <td>
              <button class="btn btn-edit" [routerLink]="['/editarUsuario', usuario.idUser]">Editar</button>
              <button class="btn btn-delete" (click)="deleteUser(usuario.idUser)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn-new-book" routerLink="/crearUsuario">Nuevo Usuario</button>
    </main>
</div>
