<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="registro.component.css">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form class="sign-in" (ngSubmit)="onSubmit()">
                <h2>Registrarse</h2>
                <div class="social-networks">
                    <ion-icon name="logo-twitch"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-tiktok"></ion-icon>
                </div>
                <span>Use su correo electrónico para registrarse</span>
                <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" placeholder="Nombre" [(ngModel)]="user.nombre" name="nombre" required>
                </div>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" placeholder="Email" [(ngModel)]="user.correo" name="correo" required>
                </div>
                <div class="container-input">
                    <ion-icon name="call-outline"></ion-icon>
                    <input type="text" placeholder="Telefono" [(ngModel)]="user.telefono" name="telefono" required>
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="Contraseña" [(ngModel)]="user.contrasena" name="contrasena" required>
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="user.confirmarContrasena" name="confirmarContrasena" required>
                </div>
                <button class="button" type="submit">REGISTRARSE</button>
                <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
            </form>
        </div>

        <div class="container-welcome">
            <div class="welcome-sign-up welcome">
                <h3>¡Hola!</h3>
                <p>Regístrese con sus datos personales para usar todas las funciones del sitio</p>
                <a routerLink="/inicioSesion">
                    <button class="button" id="btn-sign-in">Iniciar Sesión</button>
                </a>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
