<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="juvenil.component.css">
    <title>Catálogo de Libros de Juegos</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Primer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/41iEYW4ayFL._SY445_SX342_.jpg" class="card-img-top img-fluid" alt="Los Juegos del Hambre">
                    <div class="card-body">
                        <h5 class="card-title text-center">Los Juegos del Hambre</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Suzanne Collins</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-8494506351</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Español</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 350.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Segundo libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/51T3TwIcMmL._SY445_SX342_.jpg" class="card-img-top img-fluid" alt="Percy Jackson y el ladrón del rayo">
                    <div class="card-body">
                        <h5 class="card-title text-center">Percy Jackson y el ladrón del rayo</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Rick Riordan</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-8498386263</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Español</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 320.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Tercer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/51Gm4mvozUL._SY445_SX342_.jpg" class="card-img-top img-fluid" alt="El corredor del laberinto">
                    <div class="card-body">
                        <h5 class="card-title text-center">El corredor del laberinto</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> James Dashner</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-8427202147</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Español</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 300.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
