<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fantasia.component.css">
    <title>Catálogo de Libros de Fantasía</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Primer libro -->
            <div class="col-md-4 mb-">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/51c7XhvwHiL._SY445_SX342_.jpg" class="card-img-top" alt="The Hobbit">
                    <div class="card-body">
                        <h5 class="card-title text-center">The Hobbit</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> J.R.R. Tolkien</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0547928227</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Inglés</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 450.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Segundo libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/81DI+BAN2SL._SY522_.jpg" class="card-img-top" alt="Harry Potter and the Sorcerer's Stone">
                    <div class="card-body">
                        <h5 class="card-title text-center">Harry Potter and the Sorcerer's Stone</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> J.K. Rowling</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0590353427</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Inglés</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 300.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Tercer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/51O-Do9S2QL._SY445_SX342_.jpg" class="card-img-top" alt="The Name of the Wind">
                    <div class="card-body">
                        <h5 class="card-title text-center">The Name of the Wind</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Patrick Rothfuss</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0756404741</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Inglés</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 350.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>

