<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ciencia-f.component.css">
    <style>
        
    </style>
    <title>Catálogo de Libros de Ciencia Ficción</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Primer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/41URPKQycsL._SY445_SX342_.jpg" class="card-img-top" alt="Dune">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dune</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Frank Herbert</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0441172719</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Inglés</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 400.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Segundo libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/61lperkWWQL._SY522_.jpg" class="card-img-top img-fluid" alt="Neuromancer">
                    <div class="card-body">
                        <h5 class="card-title text-center">Neuromancer</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> William Gibson</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0441569595</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Inglés</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 350.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>

            <!-- Tercer libro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://m.media-amazon.com/images/I/51TFw6XB6BL._SX342_SY445_.jpg" class="card-img-top img-fluid" alt="Foundation">
                    <div class="card-body">
                        <h5 class="card-title text-center">Foundation</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold">Autor:</span> Isaac Asimov</li>
                            <li class="list-group-item"><span class="font-weight-bold">ISBN:</span> 978-0553293357</li>
                            <li class="list-group-item"><span class="font-weight-bold">Idioma:</span> Inglés</li>
                            <li class="list-group-item"><span class="font-weight-bold">Precio:</span> MXN 300.00</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block mt-3">Agregar a mi bolsa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>

